<div style="background-color:white;min-height:492px;padding-top:16px;padding-bottom:91px;padding-left:200px;padding-right:200px;margin-top:40px">
	<h2 style="COLOR:#660000"><strong>Editar Unidad de Medida</strong></h2>
	<br />
	<p>Modifique el nombre de la unidad de medida, luego pulse el botón "Guardar".</p>
	<br />

	<%= render 'form' %>

</div>