<h1><span class="label label-default">Editando unidad de medida</span></h1>

<%= render 'form' %>

<%= link_to 'Show', @unidad_medida, :class => "bnt btn-link" %> |
<%= link_to 'Back', unidad_medidas_path, :class => "btn btn-link" %>
