<h1><span class="label label-default">Nueva unidad medida</span></h1>
<div class="row">
  <div class="col-md-5">
  	<%= render 'form' %>
  	<p></p>
	<%= link_to 'Cancelar', unidad_medidas_path, :class => "btn btn-warning" %>

  </div>
  <div class="col-md-7"> </div>
</div>


