<div style="background-color:white;min-height:492px;padding-top:16px;padding-bottom:91px;padding-left:200px;padding-right:200px;margin-top:40px">
	<h1>Nuevo tipo de contenedor</h1>
	<div class="row">
	  <div class="col-md-7">
		<%= render 'form' %>
		<p></p>
		<%= link_to 'Cancelar', tipo_contenedors_path, :class => "btn btn-warning" %>
	  </div>
	  <div class="col-md-5"> </div>
	</div>
</div>