<div style="background-color:white;min-height:495px;padding-top:16px;padding-bottom:49px;padding-left:200px;padding-right:200px;margin-top:3%">
 <h2 style="color:#660000"><strong>Actualizar lotes</strong></h2>
  <br/>
  <p>Modifique los campos de stock de cocina y barra, luego pulse "Actualizar" para guardar los cambios.</p>

<%= render 'form' %>

</div>
