<div style="background-color:white;min-height:492px;padding-top:16px;padding-bottom:91px;padding-left:200px;padding-right:200px;margin-top:39px">

<h1>New detalle_compra</h1>

<%= render 'form' %>

<%= link_to 'Back', detalle_compras_path, :class => "btn btn-link" %>

</div>