<div style="background-color:white;min-height:485px;padding-top:16px;padding-bottom:91px;padding-left:200px;padding-right:200px;margin-top:3.8%">

<h2 style="COLOR:#660000"><strong>Agregar Material</strong></h2>

	<p>A continuación, elija un material de la lista desplegable e ingrese la información solicitada. Para terminar presione el botón "Agregar". Si el material deseado no se encuentra en la lista desplegable, contacte al administrador para que lo ingrese al sistema e inténtelo nuevamente.</p>

<%= render 'form' %>

</div>