<h1>Editing catalogo_material</h1>

<%= render 'form' %>

<%= link_to 'Show', @catalogo_material, :class => "bnt btn-link" %> |
<%= link_to 'Back', catalogo_materials_path, :class => "btn btn-link" %>
