<div style="background-color:white;min-height:485px;padding-top:16px;padding-bottom:91px;padding-left:200px;padding-right:200px;margin-top:3.8%">	
	<h2 style="COLOR:#660000"><strong>Editar Tipo de Pago</strong></h2>
	<br />
	<p>Modifique el nombre del tipo de pago, luego pulse el botón "Guardar".</p>
	<br />

	<%= render 'form' %>
	
</div>