<div style="background-color:white;min-height:100%;width:100%;padding-top:1%;padding-bottom:49%;padding-left:5%;padding-right:8%;margin-top:1%">
	<h1><span class="text-center" style="color:#660000">Nuevo tipo de pago</span></h1>
	<%= render 'form' %>

	<%= link_to 'Back', tipo_pagos_path, :class => "btn btn-link" %>
</div>