<div style="background-color:white;height:492px;padding-top:16px;padding-bottom:49px;padding-left:200px;padding-right:200px;margin-top:2px">
  <h2 class="text" style="color:#660000"><strong>Bodega</strong></h2>
  <hr>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Material</th>
			<th>Stock original</th>
			<th>Stock actual</th>
			<th>Stock cocina</th>
			<th>Stock barra</th>	
			<th>Fecha de vencimiento</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>
</div>