<div style="background-color:white;height:502px;padding-top:16px;padding-bottom:91px;padding-left:200px;padding-right:200px;margin-top:39px">

	<h2 style="COLOR:#660000"><strong>Nueva Comanda</strong></h2>
	<br />
	<p>Seleccione una mesa para continuar.</p>
	<br />

	<%= render 'form' %>

	

</div>