<div style="background-color:white;min-height:492px;padding-top:16px;padding-bottom:91px;padding-left:200px;padding-right:200px;margin-top:40px">	
	<h1>Editando tipo de usuario</h1>

	<%= render 'form' %>
	<p></p>
	<%= link_to 'Cancelar edición', tipo_usuarios_path, :class => "btn btn-warning" %>
</div>