<div style="background-color:white;height:494px;padding-top:16px;padding-bottom:91px;padding-left:200px;padding-right:200px;margin-top:39px">

	<h2 style="COLOR:#660000"><strong>Agregar producto</strong></h2>

	<p>A continuación, elija un producto de la lista desplegable, ingrese la cantidad del producto que desea registrar y para terminar presione el botón "Agregar".</p>

	<%= render 'form' %>

</div>