<div style="background-color:white;height:533px;padding-top:16px;padding-bottom:49px,margin-top:10%;">
<table style="margin:0 auto">
<tr>
<td>
<h1 class="text-center" style="color:#660000"><strong>PÁGINA NO ENCONTRADA</strong></h1>
</td>
</tr>
<tr>
<td>
	<h3 class="text-center" style="color:#660000">ERROR 404</h3>
</td>	
</tr>
</table>

</div>