<h1>Editing historial_costo_producto</h1>

<%= render 'form' %>

<%= link_to 'Show', @historial_costo_producto, :class => "bnt btn-link" %> |
<%= link_to 'Back', historial_costo_productos_path, :class => "btn btn-link" %>
