<div style="background-color:white;min-height:485px;padding-top:16px;padding-bottom:49px;padding-left:200px;padding-right:200px;margin-top:3.8%">
  <h2 class="text" style="color:#660000"><strong>Nuevo material</strong></h2>
<br />
	<p>Ingrese el nombre del nuevo material y seleccione la información solicitada, luego pulse el botón "Guardar".</p>
	<br />

<%= render 'form' %>

</div>
