<div style="background-color:white;min-height:470px;padding-top:16px;padding-bottom:49px;padding-left:200px;padding-right:200px;margin-top:5%">
<h2 style="COLOR:#660000"><strong>Nuevo Inventario</strong></h2>
	<br />
	<p>Seleccione el tipo de inventario que desea registrar para continuar.</p>
	<br />

<%= render 'form' %>

</div>