<h1>Editing inventario_detalle</h1>

<%= render 'form' %>

<%= link_to 'Show', @inventario_detalle, :class => "bnt btn-link" %> |
<%= link_to 'Back', inventario_detalles_path, :class => "btn btn-link" %>
